:root {
    --primary-color: #6810AD;
    --secondary-color: #CAA5FB;
    --text-color: #333333;
    --background-color: #dadada;
    --text-claro: #fff;
  }
  *{
    font-family: Roboto, sans-serif;
  }
  .card {
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: auto;
    padding: 16px;
    padding-top: 0;
    max-width: 400px;
    width: 300px;
    text-align: center;
    
  }
  
  .card-title {
    background-color: var(--primary-color);
    height: 48px;
    width: 100%;
    color: var(--text-claro);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 12px;
    line-height: 48px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  
  .card-content {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 16px;
  }
  
  .card-button {
    height: 56px;
    width: 220px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
  }
  
  .card-button:hover {
    opacity: 0.9;
  }
  
  .card-input {
    border: 1px solid var(--secondary-color);
    border-radius: 50%;
    font-size: 18px;
    margin-bottom: 12px;
    padding: 8px;
    width: 100%;
  }
  
  .card-label {
    color: var(--text-color);
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
  }
  
  .card-link {
    color: var(--primary-color);
    font-size: 12px;
    text-decoration: none;
  }
  
  .card-link:hover {
    text-decoration: underline;
  }
  
  /* Estilos específicos para diferentes tipos de tarjetas */
  .card-dia {
    background-color: var(--secondary-color);
  }
  
  .card-productos {
    border-top: 4px solid var(--primary-color);
  }
  
  .card-kbse {
    border: 2px solid var(--primary-color);
  }