<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Ventas y Stock - Inicio</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body></body>

<script type="module" src="./pagesJS/stocksinmvto.js"></script>
<!-- <script type="module" src="./pagesJS/stockbajo.js"></script> -->
<!-- <script type="module" src="./pagesJS/stock.js"></script> -->
<!-- <script type="module" src="./pagesJS/ventasporfecha.js"></script> -->
<!-- <script type="module" src="./pagesJS/ventasporvendedor.js"></script> -->
<!-- <script type="module" src="./pagesJS/ventasdeldia.js"></script> -->
<!-- <script type="module" src="./pagesJS/movimiento.js"></script> -->
<!-- <script type="module" src="./pagesJS/pedidoactual.js"></script> -->
</html>