<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Ventas y Stock - Inicio</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

    <header class="header">
        <div>
            <img src="../../img/iconos/volver.png" alt="< Volver" title="Volver">
        </div>
        <div>
            <h2></h2>
        </div>
        <div>
            <nav></nav>
            <button class="nav-toggle" aria-label="Abrir Menú"><img src="../../img/iconos/menu.png" alt="Menú"></button>
        </div>
    <main class="main"></main>
    <footer class="footer"></footer>
        
</body>
</html>