.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: calc(100% - 32px);
    max-width: 500px;
    height: 100px;
    padding: 0px 16px;
    margin: 0 auto;
    margin-bottom: 16px;
    div{
        img{
            height: 24px;
        }
    }
    div{
        h2{
            font-size: 20px;
        }
    }

    div{
        button{
            background-color: transparent;
            border: none;
            font-size: 24px;
            img{
                height: 24px;
            }
        }
    }
    
}