footer{
    width: calc(100% - 32px);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin: 14px 16px 0px 16px;
    position: relative;
    
    
    button{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        vertical-align: center;
        gap: 8px;
        max-width: 300px;
        min-width: 40px;
        width: 150px;
        height: 56px;
        margin-top: 6px;
        border-radius: 100px;
        border: 1px solid var(--color-primario);
        box-shadow: 0px 4px 4px 0px #000000;
        span{
            font-size: 16px;   
            font-weight: bold;
            line-height: 24px;
        }
        img{
            height: 24px;
        }
    }

    .btn_cerrarPedido{
        background-color: var(--color-primario);
        color: var(--color-blanco);
    }
    .btn_eliminarPedido{
        background-color: var(--color-blanco);
        color: var(--color-primario);
    }
}

.footer-movimientos{
    height: 68px;
    nav{
        background-color: var(--color-primario);
        display: flex;
        flex-direction: column;
        justify-content:start ;
        align-items: center;
        width: calc(100% - 32px);
        gap: 4px;
        padding: 16px;
        img{
            width: 24px;
            height: 24px;
        }
        span{
            color: var(--color-blanco);
            line-height: auto;
            font-size: 12px;
        }
    }

}