footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 14px;
    
    button{
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        vertical-align: center;
        gap: 8px;
        max-width: 300px;
        min-width: 40px;
        width: 150px;
        height: 56px;
        margin-top: 6px;
        border-radius: 100px;
        border: 1px solid var(--color-primario);
        box-shadow: 0px 4px 4px 0px #000000;
        span{
            font-size: 16px;   
            font-weight: bold;
            line-height: 24px;
        }
        img{
            height: 24px;
        }
    }
    .btn_cerrarPedido{
        background-color: var(--color-primario);
        color: var(--color-blanco);
    }
    .btn_eliminarPedido{
        background-color: var(--color-blanco);
        color: var(--color-primario);
    }
}