@import url(footer.css);
@import url(header.css);
@import url(main.css);
@import url(ventas.css);
@import url(movimientos.css);



:root{
    --color-primario: #6810ad;
    --color-fondo: #caa5fb;
    --color-blanco: #ffffff; /*NUEVO*/
    --color-border-articulo: #dadada; /*NUEVO*/
    --color-verde: #31c140;
    --color-verde-claro: #7BF087; /*NUEVO*/
    --color-rojo: #C00D0D; /*NUEVO*/
    --color-rojo-claro: #fa9f9f; /*NUEVO*/
    --color-sombra: rgba(0,0,0,0.25);
    --color-header-tabla: #efefef;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    


body{
    background: linear-gradient(var(--color-fondo), var(--color-blanco));
    max-width: 800px;
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
}
