main{
    width: calc(100% - 32px);
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px 16px 0px 16px;
    position: relative;
    /* overflow-y: scroll; */

    .tabla_encabezados{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: calc(100% - 32px);
            height: 40px;
            padding: 16px;
            background: var(--color-header-tabla);
            /* border-bottom: 1px solid var(--color-border-articulo); */
            font-size: 14px;
            font-weight: 400;
    }/*fin tabla_encabezados*/

        
    

    .tabla_detalles{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: calc(100% - 32px);
        height: 800px;
        overflow-y: scroll;
        scrollbar-width: none;
        
        .tabla_lineaArticulo{
            width: 100%;
            height: 40px;
            padding: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--color-border-articulo);
            font-size: 14px;
            font-style: normal;
            text-align: end;
            .cant{
                width: 39px;
                height: 39px;
                border: 0;
                text-align: end;
                

            }
        }/*tabla_lineaArticulo*/

    }/*fin tabla_detalles*/

    .tabla_footer{
        font-size: 14px;
        font-weight: 400;
        width: calc(100% - 32px);
        height: 40px;
        padding: 16px;
        margin: 0px 16px 0px 16px;
        background-color: var(--color-secundario);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        gap: 16px;
    }/*fin tabla_footer*/
    
    .adicionarArticulo{
        background: var(--color-verde);
        border: 1px solid var(--color-verde);
        width: 56px;
        height: 56px;
        box-shadow: 0px 4px 8px 0px var(--color-sombra);
        color: var(--color-blanco);
        font-size: 40px;
        border-radius: 20px;
        padding: 0;
        /* vertical-align: center; */
        position: absolute;
        

    }/*fin adicionarArticulo*/

}/*Fin main*/