<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Ventas y Stock - Stock Nuevo Remito</title>
    <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="../../public/img/iconos/volver.png" alt="< Volver" title="Volver">
        </div>
        <div>
            <h2>Stock cargar nuevo remito</h2>
        </div>
        <div>
            <nav></nav>
            <button class="nav-toggle" aria-label="Abrir Menú"><img src="../../public/img/iconos/menu.png" alt="Menú"></button>
        </div>
    </header>   
    <main class="main">
        
        <section class="contenedor-remito">
            <label class="numero-remito"><span>REMITO N°</span></label>
            <input type="text" class="texto-remito" placeholder="Ingresa el número"> </input>
        </section>

        <section class="contenedor-fecha">
            <label class="fecha"><span>FECHA</span></label>
            <input type="date" class=""> </input>
        </section>

        <section class="contenedor-proveedores">
            <div class="seleccionar-proveedor"><span>SELECCIONAR PROVEEDOR</span></div>
            <div class="nombre-proveedor"><span>Fulanito S.A.</span><input type="radio" class=""></input></div>
            <div class="nombre-proveedor"><span>Menguanito S.A.</span><input type="radio" class=""></input></div>
            <div class="nombre-proveedor"><span>Proveeduría S.A.</span><input type="radio" class=""></input></div>
            <div class="nombre-proveedor"><span>Sin datos</span><input type="radio" class=""></input></div>
            <div class="nombre-proveedor"><span>NUEVO PROVEEDOR</span><input type="radio" class=""></input></div>
        </section>
        <section class="contenedor-permisos">
            <span>Permisos</span>
            <div class="opciones">
                <div class="contendor-verstock"><input type="checkbox" class=""></input><span>Ver Stock</span></div>
                <div class="contendor-agregarproducto"><input type="checkbox" class=""></input><span>Agregar nuevo producto</span></div>
                <div class="contendor-recargarstock"><input type="checkbox" class=""></input><span>Recargar stock</span></div>
                <div class="contendor-modificar-producto"><input type="checkbox" class=""></input><span>Modificar Producto</span></div>
                <div class="contendor-eliminar-producto"><input type="checkbox" class=""></input><span>Eliminar Producto</span></div>
            </div>
        </section>
        <section class="form-ingresar-producto">
            
        </section>
    
    </main>     
    
</body>
</html>