<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Ventas y Stock - Pedido listado por proveedor</title>
    <link rel="stylesheet" href="../../public/css/index.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="../../public/img/iconos/volver.png" alt="< Volver" title="Volver">
        </div>
        <div>
            <h2>Pedido listado por proveedor</h2>
        </div>
        <div>
            <nav></nav>
            <button class="nav-toggle" aria-label="Abrir Menú"><img src="../../public/img/iconos/menu.png" alt="Menú"></button>
        </div>
    </header>   
    <main class="main">
        
        <div class="card-proveedor">
            <section class="nombre-proveedor"><span>Proveedor: Fulanito S.A.</span></section>
            
            <section class="tabla_encabezados">
                <h3 class="th">CANT</h3>
                <h3 class="th">PRODUCTO</h3>
                <h3 class="th">COSTO</h3>
            </section>
            
            <section class="tabla_detalles">

                <div class="tabla_lineaArticulo">
                    
                    <input class="cant" value="4"></input>
                    <div class="producto">Carpeta con Argollas</div>
                    <div class="precio">1200</div>
                
                </div>

                <div class="tabla_lineaArticulo">
                    
                        <input class="cant" value="4"></input>
                        <div class="producto">Lápiz Negro HB - Faber Castle</div>
                        <div class="precio">1000</div>
                
                </div>

            </section>
        </div>

        <div class="card-proveedor">
            <section class="nombre-proveedor">Proveedor: Menganito S.A.</section>
            
            <section class="tabla_encabezados">
                <h3 class="th">CANT</h3>
                <h3 class="th">PRODUCTO</h3>
                <h3 class="th">COSTO</h3>
            </section>
            
            <section class="tabla_detalles">

                <div class="tabla_lineaArticulo">
                    
                    <input class="cant" value="4"></input>
                    <div class="producto">Papel Afiche Amarillo</div>
                    <div class="precio">220</div>
                
                </div>

                <div class="tabla_lineaArticulo">
                    
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Blanco</div>
                        <div class="precio">220</div>
                
                </div>
                <div class="tabla_lineaArticulo">
                        
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Celeste</div>
                        <div class="precio">220</div>
                
                </div>
                <div class="tabla_lineaArticulo">
                    
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Naranja</div>
                        <div class="precio">220</div>
                
                </div>
                <div class="tabla_lineaArticulo">
                        
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Negro</div>
                        <div class="precio">220</div>
                
                </div>

            </section>
        </div>

        <div class="card-proveedor">
            <section class="nombre-proveedor">Proveedor: Proveeduria S.A.</section>
            
            <section class="tabla_encabezados">
                <h3 class="th">CANT</h3>
                <h3 class="th">PRODUCTO</h3>
                <h3 class="th">COSTO</h3>
            </section>
            
            <section class="tabla_detalles">

                <div class="tabla_lineaArticulo">
                    
                    <input class="cant" value="4"></input>
                    <div class="producto">Papel Afiche Amarillo</div>
                    <div class="precio">220</div>
                
                </div>

                <div class="tabla_lineaArticulo">
                    
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Blanco</div>
                        <div class="precio">220</div>
                
                </div>
                <div class="tabla_lineaArticulo">
                        
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Celeste</div>
                        <div class="precio">220</div>
                
                </div>
                <div class="tabla_lineaArticulo">
                    
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Naranja</div>
                        <div class="precio">220</div>
                
                </div>
                <div class="tabla_lineaArticulo">
                        
                        <input class="cant" value="4"></input>
                        <div class="producto">Papel Afiche Negro</div>
                        <div class="precio">220</div>
                
                </div>

            </section>
        </div>
    
    </main>     
    
</body>
</html>