<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Ventas y Stock - Ventas</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="../../img/iconos/volver.png" alt="< Volver" title="Volver">
        </div>
        <div>
            <h2>Ventas por Fecha</h2>
        </div>
        <div>
            <nav></nav>
            <button class="nav-toggle" aria-label="Abrir Menú"><img src="../../img/iconos/menu.png" alt="Menú"></button>    
        </div>
    </header>   
    <main class="main">
        <section class="filtro-fecha">10/02/1923 . 10/02/1923</section>
        <section class="monto-total">$99999,9999</section>
        <section class="tabla_encabezados">
            <h3 class="th">Producto</h3>
            <h3 class="th">Cant.</h3>
        </section>
        <section class="tabla_detalles">
            <div>10/02/1923</div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Cuaderno</div>
                <div class="cantidad">10</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Hojas</div>
                <div class="cantidad">12</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Goma</div>
                <div class="cantidad">10</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Colores</div>
                <div class="cantidad">4</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Lápices</div>
                <div class="cantidad">10</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Lapiceras</div>
                <div class="cantidad">10</div>
            </div>
        </section>
        <section class="tabla_footerPedido">
            <h3 class="total">Total</h3>
            <h3 class="valorTotal">66</h3>
        </section>
        
    </main>     
    <footer>
        <img src="../../img/iconos/descargarBlanco.PNG" alt="Descargar">
        <span>Descargar</span>
    </footer>
</body>
</html>