<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Ventas y Stock - Ventas por Vendedor</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <header class="header">
        <div>
            <img src="../../img/iconos/volver.png" alt="< Volver" title="Volver">
        </div>
        <div>
            <h2>Ventas por Vendedor</h2>
        </div>
        <div>
            <nav></nav>
            <button class="nav-toggle" aria-label="Abrir Menú"><img src="../../img/iconos/menu.png" alt="Menú"></button>    
        </div>
    </header>   
    <main class="main">

        <section class="contenedor-vendedor"><!--este estilo en ventas.css-->
            <span>VENDEDOR X</span>
        </section>
        <div class="consulta-datos">
            <input type="date" class="fecha-consulta">
            <h3 class="monto-consulta">$3000</h3>
        </div>
        <section class="tabla_encabezados _deldia">
            <h3 class="th">Producto</h3>
            <h3 class="th">Cant.</h3>
        </section>
        <section class="tabla_detalles">
            <div class="tabla_lineaArticulo">
                <div class="producto">Cuaderno</div>
                <div class="cantidad">10</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Hojas</div>
                <div class="cantidad">12</div>
            </div>           
            <div class="tabla_lineaArticulo">
                <div class="producto">Goma</div>
                <div class="cantidad">10</div>
            </div>
            <div class="tabla_lineaArticulo">
                <div class="producto">Colores</div>
                <div class="cantidad">4</div>
            </div>

        </section>
        <section class="tabla_footer">
            <h3 class="total">Total</h3>
            <h3 class="valorTotal">36</h3>
        </section>
        
    </main>     
    <footer class="footer-descarga">
        <nav class="nav-footer">
            <img src="../../img/iconos/descargarBlanco.PNG" alt="Descargar">
            <span>Descargar</span>
        </nav>
    </footer>
</body>
</html>