.card-proveedor{
    width: calc(100% - 32px);
    height: auto;
    box-shadow: 0px 6px 10px var(--color-sombra);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-top: 28px;


    .nombre-proveedor{
        width: 100%;
        height: 28px;
        background-color: var(--color-primario);
        border: none;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        font-size: 12px;
        padding: 8px;
        font-weight: 600;
        text-align: left;
        color: var(--color-blanco);
    }

    .tabla_encabezados{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: 40px;
            padding: 16px;
            background: var(--color-header-tabla);
            /* border-bottom: 1px solid var(--color-border-articulo); */
            font-size: 14px;
            font-weight: 400;
            .th{
                color: var(--color-primario);
                text-align: center;
            }

    }/*fin tabla_encabezados.*/

    .tabla_detalles{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;

        .tabla_lineaArticulo{
            width: 100%;
            height:  45px;
            display: flex;
            flex-direction: row;
            align-items:center;
            justify-content:space-between;
            flex-wrap: wrap;
            border-bottom: 1px solid var(--color-border-articulo);
            font-size: 14px;
            font-style: normal;
                .cant{
                    width: 30px;
                    height: 20px;
                    border: 1 solid var(--color-secundario);
                    text-align: right;
            
                }

        }/*tabla_lineaArticulo*/

    }/*fin tabla_detalles. Se usa en todas las planillas*/

}/*fin card-proveedor. Se utiliza en pedido listado por proveedor*/