/* 
@import url(./cardproveedor.css);
@import url(./datoremito.css);
@import url(./formularios.css);
@import url(./movimientos.css);
@import url(./ventas.css);
@import url(./main.css); */
@import url(./header.css);
@import url(./footer.css);
/* @import url(./searchContainer.css); */
@import url(./btnsContainer.css);
/* @import url(./cardBase.css); */
/* @import url(./cardNewProd.css); */
@import url(./fabButton.css);
@import url(./fabExtended.css);
/* @import url(./loginYForms.css); */
@import url(./menu.css);
@import url(./proveedor.css);
/* estilos de LU */

/* @import url(./ventas.css);
@import url(./movimientos.css);
@import url(./cardproveedor.css);
@import url(./datoremito.css);
@import url(./formularios.css); */

:root{
    --color-primario: #6810ad;
    --color-fondo: #caa5fb;
    --color-blanco: #ffffff; /*NUEVO*/
    --color-border-articulo: #dadada; /*NUEVO*/
    --color-verde: #31c140;
    --color-verde-claro: #7BF087; /*NUEVO*/
    --color-rojo: #C00D0D; /*NUEVO*/
    --color-rojo-claro: #fa9f9f; /*NUEVO*/
    --color-sombra: rgba(0,0,0,0.25);
    --color-hover: #9747FF;
    --fondo-monto: #DEC9FA;
    --background-menu: #dadada;
    --background-fondo: #efefef;
    
    --primary-color: #6810AD;
    --secondary-color: #CAA5FB;
    --text-color: #333333;
    --background-color: #efefef;
    --on-primary-color: #ffffff;
    --color-hover: #9747FF;
    --fondo-monto: #DEC9FA;
    --input-border-color: #9747FF;
    --input-focus-color: #1A73E8;
    --text-claro: white;

    --product-list-max-height: calc(100vh - 50px);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    

body{
    background: linear-gradient(var(--color-fondo), var(--color-blanco), var(--color-blanco));
    width: 100vw;
    height: 100vh;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
    align-content: center; 
} 


