main{
    .contenedor-filtro-fecha{
        width: calc(100% - 32px);
        max-width: 500px;
        position: relative;
        .fechas-encabezado{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            h3{
                /* color:var(--color-blanco); */
                background-color: var(--color-secundario);
                width:calc(50% - 2px);
                height: 27px;
                font-size: 14px;
                padding-top: 4px;
                text-align: center;

            }
        }/*fin fechas-encabezado*/

        .fechas-datos{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            gap: 4px;
            margin-top: 4px;
            input{
                /* color:var(--color-blanco); */
                background-color: var(--color-secundario);
                width:calc(50% - 2px);
                height: 32px;
                font-size: 18px;
                padding: 4px 5px 0 15px;
                text-align: center;
                border: none;

            }
            
        }/*fin fechas-datos*/
        .filtrarFecha{
            position: absolute;
            background-color: var(--color-primario);
            border: 1px solid var(--color-primario);
            width: 32px;
            height: 32px;
            line-height: 24px;
            bottom: 26px;
            right: 46.5%;
            border-radius: 100%;
            text-align: center;
            font-size: 12px;
            box-shadow: 0px 6px 10px var(--color-sombra);
            z-index:100;
            transition:all ease-in-out 10ms transform ;
            img{
                padding: 6px 3px 0 3px;
                width: 24px;
                height: 24px;
                filter: invert(1);
            }
            &:hover{
                background-color: var(--color-hover);
            }
            &:active{
                transform: scale(0.9);
            }
        }



    }/*fin contenedor-filtro-fecha*/
}